<launch>
  <arg name="poll_period" default="1.0"/>
  <arg name="enable_individual" default="true"/>

  <node pkg="cpu_monitor" name="cpu_monitor" type="monitor.py" output="screen">
    <param name="poll_period" type="double" value="$(arg poll_period)"/>
    <param name="enable_individual" type="bool" value="$(arg enable_individual)"/>
  </node>
</launch>
